## Tutorial 11- Python Pandas Working With Json Tutorials- Part 3
### In Part we are going to learn about

### read Json (read_json)
### To Json(to_json)
### Json Normalize

In [1]:
data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'

In [3]:
type(data)

str

In [13]:
import pandas as pd
from io import StringIO

In [15]:
json_data = StringIO(data)
pd.read_json(json_data)

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [22]:
json_data = StringIO(data)
df=pd.read_json(json_data,orient='records')
# convert Json to csv
df.to_csv('wine.csv')

In [25]:
# convert Json to different json formats
df.to_json(orient="index")

'{"0":{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [27]:
json_data = StringIO(data)
pd.read_json(json_data,orient='columns')

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."