### Reading EXcel Files

In [6]:
import pandas as pd
df_excel=pd.read_excel('Excel_Sample.xlsx')

In [8]:
df_excel.head()

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

### Pickling  
### All pandas objects are equipped with to_pickle methods which use Pythonâ€™s cPickle module to save data structures to disk using the pickle format.

In [12]:
df_excel.to_pickle('df_excel')

In [14]:
df=pd.read_pickle('df_excel')

In [16]:
df.head()

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15