#### Seaborn Tutorial
#### Distribution plots
#### distplot
#### joinplot
#### pairplot
#### Practise problem on IRIS Dataset

In [1]:
import seaborn as sns

In [3]:
df=sns.load_dataset("tips") # loads a sample dataset provided by Seaborn. The "tips" dataset contains information about restaurant tips,
#including features like total bill, tip amount, gender, day of the week, time of day, and size of the party.

In [7]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

#### Correlation with Heatmap
#### A correlation heatmap uses colored cells, typically in a monochromatic scale, to show a 2D correlation matrix (table) between two discrete dimensions   or event types. It is very important in Feature Selection